#container {
    border: 20px red ridge;
    height: 300px;
}

.cikk {
    border: 10px black solid;
    display: inline-block;
    float: left;
    width: calc(100% / 3);
    box-sizing: border-box;
}
