#container {
    border: 20px red ridge;
    display: grid;
    /* flex-direction: column; */
    /* flex-wrap: wrap;
    gap: 20px 100px; */
    grid-template-columns: repeat(3, 1fr);
}

.cikk {
    border: 10px black solid;
    /* width: calc(100% / 3); */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;

    flex: 1 0 200px; /* <-- Az előző három sor rövidítése */
}

.nagyobb {
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 200px; 
}
